/* Desktop-specific styles */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }

/* Navbar Styles - Desktop */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #368e92;
}

.nav-menu {
    display: flex; /* Display menu in a row */
    justify-content: flex-end; /* Align items to the right */
    gap: 20px; /* Space between items */
}

.nav-menu a {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    text-decoration: none;
    margin: 15px;
}

.nav-heading h1 {
    font-family: 'Satisfy', cursive; /* Title-specific font */
    font-size: 2.5rem;
    color: rgb(15, 12, 12);
}